@import './base.css';
/* @import './antd.css'; */

/* Fix issue where h1 font-size is ignored in WebKit-based browsers inside article/aside/nav/section */
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 2em;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
